.App {
  text-align: center;
}
nav{
  background-color:rgb(22, 75, 100);
  display: flex;
  justify-content: space-around;
  
}
h1{
  color: white;
}
.main{
  color: green;
}
form {
  /* Center the form on the page */
  margin: 10px auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 10px;
}

  

input[type=text],[type=email],[type=password],[type=time] {
  width:auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select{
  margin-top: auto;
  margin-bottom: 10px;
}
.timer{
  margin-left: 50px;
}